.header {
  width: auto;
  height: auto;
  margin-bottom: 0px;
  padding: 180px;
  text-align: center;
  font-family: Alvo, sans-serif;
  font-size: 3rem;
  color: red;
  text-shadow: 2px 2px 2px gray;
  background: url("https://i.imgur.com/2ST6V90.png") no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 4rem;
}
